.info .fa {
  margin-right: 15px;
  color: #ccd1d6;
}

.info .fa-map-marker {
  font-size: 1.5em;
}

.info ul {
  margin-bottom: 0;
}

.info li {
  margin-bottom: 15px;
}

.info li:last-child {
  margin-bottom: 0;
}
