.entertainment ul li {
  margin-bottom: 10px;
}

.entertainment ul li .svg-inline--fa {
  margin-right: 5px;
}

.entertainment ul li a {
  color: #778492;
}

.entertainment ul li a:hover {
  color: #49515a;
}
